@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #fdfac7,#fbea80);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  5px 5px 15px #204b5eaf;

}
h1 {
    color: #baab6a;
    text-align: center;
    text-shadow: 1px 1px 2px #14665aa1;
}
h2 {
    color: #426b65;
}

p {
    text-align: justify;

}